* {
  box-sizing: border-box;
}

:root {
  --item-width: 188px;
  --item-height: 35px;
  --column-width: 200px;
}



body {
  padding: 30px;
  color: #333;
}

.board {
  display: flex;
}

.column {
  background-color: white;
  width: var(--column-width);
  border: 1px dotted #ccc;
  border-radius: 5px;
  margin-right: 20px;
  padding: 5px;
  height: auto;
}

.board-column-header {
  border: 1px dotted #333;
  border-radius: 5px;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  font-size: 1.2em;
  margin-bottom: 0.5em;
  font-weight: bold;
  cursor: move;
}


.board-item:not(.emptySectionHiddenLesson) {
  background-color: #efffde;
  border: 1px dotted #9ecda8;
  border-radius: 5px;
  padding: 7px;
  cursor: move;
  margin-bottom: 0.5em;
  width: var(--item-width);
  height: auto; /* автоматическая высота блока */
  word-wrap: break-word; /* перенос слов при необходимости*/ 
}

.board-item{
  background-color: #efffde;
  border: 1px dotted #9ecda8;
  border-radius: 5px;
  padding: 7px;
  cursor: pointer;
  margin-bottom: 0.5em;
  width: var(--item-width);
  height: auto; /* автоматическая высота блока */

}


.emptySectionHiddenLesson {
  background: #fef75d;
  /* border: solid black dotted; */
  width: var(--item-width);
  height: var(--item-height);

  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.board-item-content,.board-item-description  {
  margin-bottom: 10px;
  border: 1px dotted black;
  border-radius: 5px;
  pointer-events: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}



.placeholder {
  background-color: violet;
  /* border: solid black dotted; */
  margin-bottom: 0.5em;
  width: var(--item-width);
  height: var(--item-height);
}



.placeholder-column {
  background-color: violet;
  max-width: var(--column-width);
  min-width: var(--column-width);
  border: black dotted;
  margin-right: 20px;
  padding: 5px;
}





/* стили для модальных окон, появляющихся при нажатии на карточки */

::placeholder {
  font-weight: bold;
  opacity: 0.5;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 5% auto;
  padding: 20px;
  border: 1px solid #888;
  /* width: 80%; */

  min-width: 300px;
  max-width: 900px;
  height: auto;
}

/* Стилизация элементов ввода и текстового поля */
.modal-content input[type="text"]{
    width: 100%; /* Ширина элементов займет всю доступную ширину */
}

/* Запрет изменения размера текстового поля вручную */
.modal-content textarea {
  width: 100%; /* Ширина элементов займет всю доступную ширину */
  /* height: 60%; */
  resize: vertical;
  min-height: 100px;
}


.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* стили для страницы выбора проектов */
table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  border: 2px solid gray;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}

.delete-link {
  cursor: pointer;
  color: black; /* Исходный цвет текста */
}

.delete-link:hover {
  color: red; /* Цвет текста при наведении */
}

.to-tasks{
  cursor: pointer;
  color: black;
}
.to-tasks:hover{
  color: gray;
}